.header-container
{
    padding : 20px 20px;
    background-color: var(--header-background);
    width : 100%;
}
.header-main
{
    display : flex;
    align-items: center;
}
.header-logo-name
{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.8px;
    /* color : rgb(238, 180, 190); */
    color : rgb(241, 153, 169);
}
.header-login-name
{
    font-family: 'Roboto', sans-serif;
    background-color: var(--header-background);
    margin-left: auto;
    border: none;
    font-size: 17px;
    letter-spacing: 0.1px;
    color : rgb(241, 153, 169);
}
.header-login-name a
{
    color : rgb(241, 153, 169);
    text-decoration: none;
}

@media(max-width : 440px){
    .header-container{padding : 20px 5px 20px 5px}
}