.header-container
{
    padding : 20px 20px;
    background-color: var(--header-background);
    width : 100%;
}
.header-main
{
    display : flex;
    align-items: center;
}
.header-logo-name
{
    font-family: 'Courgette', cursive;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.8px;
    /* color : rgb(238, 180, 190); */
    color : rgb(240, 121, 143);
}
.header-login-name
{
    font-family: 'Roboto', sans-serif;
    background-color: var(--header-background);
    margin-left: auto;
    border: none;
    font-size: 17px;
    letter-spacing: 0.1px;
    color : rgb(240, 121, 143);
}
.header-normal-view a
{
    color : rgb(240, 121, 143);
    text-decoration: none;
}
.header-mobile-view
{
    display: none;
}
.header-mobile-view a 
{
    margin-left: 10px;
    margin-right: 10px;
    color : rgb(240, 94, 120);
    font-size: 20px;
}

.header-user-name-display
{
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header-user-name
{
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--header-background);
    border: none;
    font-size: 17px;
    letter-spacing: 0.1px;
    color : rgb(241, 91, 119);
}
.header-user-avatar
{
    background-color: rgb(231, 121, 141) !important;
}
.header-user-logout
{
    font-weight: bold !important;
    font-size: 25px;
    margin-right: 5px !important;
    color : rgb(236, 108, 129) !important;
    cursor: pointer;
}
.header-tooltip
{
    padding-right: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--header-background);
    border: none;
    font-size: 17px;
    letter-spacing: 0.1px;
    color : rgb(241, 153, 169);
}
.header-tooltip-open
{
    visibility: hidden;
    background-color: rgb(75, 73, 73);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top : 70px;
    font-size: 13px;
    margin-left: -20px;
    opacity: 0;
    transition: opacity 0.7s;
}
.header-tooltip-open::before
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(75, 73, 73) transparent;
}
.header-tooltip:hover .header-tooltip-open
{
    visibility: visible;
    opacity: 1;
}

.mobile-view-side-bar
{
    display: none;
    position: absolute;
    top : 0;
    left : 0;
    background-color: rgb(241, 153, 169);
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    transform: translate(-50rem);
}
.mobile-view-side-bar.open
{   
    transform: translate(0rem);
    z-index: 10000;
}
.mobile-view-side-close-btn
{
    width: 20px;
    height: 20px;
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    margin-top: 20px; 
    margin-right: 20px;
    margin-left: auto;
}
.mobile-view-name
{
    color : white;
    padding : 20px 20px;
    font-family: "Nunito",sans-serif;
    font-size: 19px;
}
.mobile-view-signout-display
{
    padding : 25px 20px;
    display: flex;
    align-items: center;
}
.mobile-view-signout-icon
{
    font-size: 20px;
    color: white;
}
.mobile-view-signout-name
{
    padding-left: 15px;
    color : white;
    font-family: "Nunito",sans-serif;
    font-size: 19px;
}
@media(max-width : 440px){
    .mobile-view-side-bar{display: block;}
    .header-user-logout-normal-view {display: none;}
    .header-mobile-view { display: block; }
    .header-normal-view { display: none; }
    .header-container{padding : 20px 5px 20px 5px}
}