.image-upload-container
{
    padding : 20px 20px;
    width : 100%;
    background-color: var(--body-background);
    text-align: center;
}
.image-upload-heading
{
    padding : 15px 0px;
    font-family: 'Noto Serif', sans-serif;
    font-size: 2.3rem;
    font-weight: 600;
    color : rgb(77, 74, 74);
    text-align: center;
}
.image-upload-info
{
    padding : 15px 0px;
    font-family: 'Noto Serif', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color :rgb(66, 65, 65);
}
.image-upload-container label input
{
    height: 0;
    width : 0;
    opacity: 0;
}
.image-upload-icon
{
    display : block;
    width : 45px;
    height: 45px;
    font-size: 26px;
    font-weight: bold;
    margin : 5px 0px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(240, 173, 185);
}
.image-upload-container label span:hover
{
    cursor: pointer;
}
.image-upload-error
{
    color : rgb(236, 72, 72);
    font-size: 14px;
    padding : 10px 0px;
    font-family: 'Noto Serif', sans-serif;
}
.image-upload-file-name
{
    font-size: 14px;
    padding : 10px 0px;
    color : rgb(235, 92, 92);
    font-family: 'Noto Serif', sans-serif;
}

.image-upload-tooltip
{
    color : black;
}
.image-upload-tooltip-open
{
    visibility: hidden;
    background-color: rgb(75, 73, 73);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    top : 275px;
    font-size: 13px;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.7s;
}
.image-upload-tooltip-open::before
{
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(75, 73, 73) transparent;
}
.image-upload-tooltip:hover .image-upload-tooltip-open
{
    visibility: visible;
    opacity: 1;
}

@media(max-width : 440px){
    .image-upload-container{ padding : 20px 0px 20px 0px }
}
