.image-card-container
{
    padding : 20px 20px;
    background-color: var(--body-background);
    width : 100%;
}
.image-card-image
{
    margin : 0px 0px;
    width : 100%;
    height : 310px;
    transition: 0.5s all ease-in-out;
}
.image-card-image:hover
{
    opacity: 0.9;
    cursor: pointer;
}
.image-info-display
{
    display: flex;
    padding : 7px 4px;
    align-items: center;
    justify-content: center;
}
.image-card-username
{
    font-family: "Nunito",sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color : rgb(236, 86, 114);
}
.image-card-download-icon
{
    font-size: 20px;
    color : rgb(236, 86, 114);
    margin-left: auto;
    cursor: pointer;
}

@media(max-width:440px){
    .image-card-image{height : 280px}
    .image-card-container{padding : 20px 0px 20px 0px}
}